:root {
    --color-pink-light: #f2dfdf;
    --color-pink-dark: #d99197;
    --color-pink: #f26389;
    --color-green-mid: #384001;
    --color-green-dark: #222601;
    --font-main: "Pacifico", cursive;
    --font-btn: "Marck Script", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-pink-light);
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-wrapper {
    width: 70vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-wrapper {
    margin-bottom: 50px;
}

.text-wrapper {
    margin-bottom: 150px;
}

.btns-wrapper {
    gap: 125px;
}

#questionGif {
    height: 250px;
}

.text-question {
    font-family: var(--font-main);
    font-size: 40px;
    text-align: center;
    color: var(--color-pink);
    height: 150px;
}

.btn {
    position: relative;
    height: 60px;
    width: 200px;
    text-decoration: none;
    background-color: var(--color-pink-dark);
    color: var(--color-pink-light);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-btn);
    cursor: pointer;
    border: solid 3px;
    border-radius: 10px;
    border-color: #f26389;
    box-shadow: 5px 5px 0px var(--color-pink);
}

.btn-block {
    height: 60px;
    width: 200px;
}

.btn-wrong.moving {
    position: absolute;
}

.btn:active {
    transform: translate(3px, 3px);
    transition-duration: 0.05s;
    box-shadow: 5px 5px 0px var(--color-pink);
}

.btn:hover {
    background-color: var(--color-pink-light);
    color: var(--color-pink);
}

.hidden {
    display: none;
}
